# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# books
notebooks/
.ipynb

# adk config
.adk
